details {
  font: 13px "Open Sans", "Times New Roman", sans-serif;
  width: 90%;
}

details > summary {
  padding: 8px 6px;
  margin-left: 10%;
  text-align: left;
  color: #2B60DE;
  border: none;
  outline:none;
}
