@import url(https://fonts.googleapis.com/css?family=Aclonica);
body {
  background-color: #ffffff;
}

.wrap {
  padding: 2em 0.5em;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: normal;
  color: #000000;
  white-space: nowrap;
  font-size: 2.5vw;
  z-index: 1000;
  font-family: 'Arial';
  text-shadow: 2px 2px 4px #000000;
  -moz-transform: skew(0, -6.7deg);
  -ms-transform: skew(0, -6.7deg);
  -webkit-transform: skew(0, -6.7deg);
  transform: skew(0, 0deg);
  -moz-transition-property: font-size;
  -o-transition-property: font-size;
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

@media screen and (max-width: 50em) {
  h1 {
    font-size: 20vw;
  }
}